@{
    ViewBag.Title = "A+ Donors";
}
<style>
    body {
        background-size: 1400px;
        background-image: url(../Images/bg2.png);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color:#FFE033">
                Blood Group
                <small style="color:#FFFFFF">List Of Donors</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active" style="color:#FFFFFF">A+ Donors</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <table class="w3-table w3-striped" style="width:100%">
            <tr style="height:35px">
                <th style="width:25%;text-align:center">
                    Name
                </th>
                <th style="width:25%;text-align:center">
                    Contact Number
                </th>
                <th style="width:25%;text-align:center">
                    Donate
                </th>
                <th style="width:25%;text-align:center">
                    Details
                </th>
            </tr>
        </table>
        <hr />
        <table style="width:100%">
            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Iqra kanwal
                </td>
                <td style="width:25%;text-align:center">
                    03322988876
                </td>
                <td style="width:25%;text-align:center">
                    No
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Nimra
                </td>
                <td style="width:25%;text-align:center">
                    0339363421819
                </td>
                <td style="width:25%;text-align:center">
                    Yes
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Sadia
                </td>
                <td style="width:25%;text-align:center">
                    033283765267
                </td>
                <td style="width:25%;text-align:center">
                    Yes
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Muhammad Bilal
                </td>
                <td style="width:25%;text-align:center">
                    03322988876
                </td>
                <td style="width:25%;text-align:center">
                    No
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Wardah Afzal
                </td>
                <td style="width:25%;text-align:center">
                    0334-7244415
                </td>
                <td style="width:25%;text-align:center">
                    Yes
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Nazish
                </td>
                <td style="width:25%;text-align:center">
                    3007541739
                </td>
                <td style="width:25%;text-align:center">
                    No
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Tayyba Mumtaz
                </td>
                <td style="width:25%;text-align:center">
                    3007541739
                </td>
                <td style="width:25%;text-align:center">
                    Yes
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Ali Hassan
                </td>
                <td style="width:25%;text-align:center">
                    0321-6651580
                </td>
                <td style="width:25%;text-align:center">
                    Yes
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    Niaz Ali
                </td>
                <td style="width:25%;text-align:center">
                    0334-9935659
                </td>
                <td style="width:25%;text-align:center">
                    Yes
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

            <tr style="height:50px;border-bottom: 1pt solid black">
                <td style="width:25%;text-align:center">
                    M Saqlain Saqi
                </td>
                <td style="width:25%;text-align:center">
                    0321-6561384

                </td>
                <td style="width:25%;text-align:center">
                    Yes
                </td>
                <td style="width:25%;text-align:center">
                    <a href="@Url.Action("Details","Portfolio")" class="btn btn-primary">Details<i class="fa fa-angle-right"></i></a>
                </td>
            </tr>

        </table>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">«</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>